<!DOCTYPE html>
<html>
  <head>
    <title>Jukebox1806</title>
    <%= csrf_meta_tags %>
    <link rel = "stylesheet" type = "text/css" href = "/reset.css" />
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Sarina" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "/styles.css" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
